.header {
  display: flex;
  position: relative;
  margin: 25px 0 0 50px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  &__title {
    color: #901c1c;
  }
}
nav {
  position: absolute;
  left: 370px;
}
.tagListNavigation {
  display: flex;
  align-items: center;

  & li {
    border: 1px solid gray;
    border-radius: 100px;
    font-weight: 800;
    padding: 3px;
    color: #901c1c;
    cursor: pointer;
    margin: 2px;
    list-style: none;
  }
}
