.header {
  display: flex;
  margin: 25px 0 0 50px;

  &__nav {
    display: flex;
    justify-content: space-between;
  }
  .tagsList {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: center;
    & li {
      padding: 2px 5px;
      margin: 4px;
      font-weight: 600;
      cursor: pointer;
      color: #901c1c;
    }
  }
  &__title {
    color: #901c1c;
    font-weight: 500;
  }
}
