#background {
  position: fixed;
  background-color: #db8876;
  border-radius: 5px;
  width: 400px;
  padding: 15px 25px;
  display: none;
  position: fixed;
  z-index: 10;
  margin: 0 auto;
  top: 10%;
  left: 15%;
}

#form-content {
  display: flex;
  flex-direction: column;

  & input {
    border: none;
    width: 400px;
    height: 35px;
    border-radius: 5px;
  }
}

// .header-modal {
//   position: relative;
// }

#close-btn {
  position: relative;
  background: none;
  border: none;

  top: -55px;
  left: 370px;

  & span {
    cursor: pointer;
    color: #fff;
    font-size: 36px;
    position: relative;
  }
}

.contact-title {
  margin-bottom: -30px;
  margin-top: -10px;
  & span {
    font-size: 36px;
    font-weight: 400;
  }
}

#ph-name-contact {
  font-size: 36px;
  font-weight: 400;
}

.form-data {
  display: flex;
  flex-direction: column;
}

.form-submit {
  height: 40px;
  width: 100px !important;
  background-color: #901c1c;
  color: #fff;
  cursor: pointer;
  margin-top: 5px;
}
