#background {
  position: fixed;
  background-color: #db8876;
  border-radius: 5px;
  width: 400px;
  padding: 15px 25px;
  display: none;
  position: fixed;
  z-index: 10;
  margin: 0 auto;
  top: 10%;
  left: 15%;
  box-sizing: content-box;

  @media (max-width: 600px) {
    display: none;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    height: 600px;
  }
}

#form-content {
  display: flex;
  flex-direction: column;

  @media (max-width: 600px) {
    width: 100%;
    & input {
      border: none;
      height: 35px;
      border-radius: 5px;
    }
  }
}

#close-btn {
  position: relative;
  background: none;
  border: none;
  top: -55px;
  left: 370px;
  @media (max-width: 600px) {
    left: 350px;
  }
  & span {
    cursor: pointer;
    color: #fff;
    font-size: 36px;
    position: relative;
  }
}

#contact-title {
  margin-bottom: -30px;
  margin-top: -10px;
  & span {
    font-size: 36px;
    font-weight: 400;
  }
}

#ph-name-contact {
  font-size: 36px;
  font-weight: 400;
}

.form-data {
  display: flex;
  flex-direction: column;

  & input {
    min-width: 390px;
    padding-top: 10px;
    @media (max-width: 600px) {
      padding-top: 30px;
    }
  }

  @media (max-width: 600px) {
    margin-top: 20px;
  }
}

.form-submit {
  height: 40px;
  width: 100px !important;
  background-color: #901c1c;
  color: #fff;
  cursor: pointer;
  margin: auto 0;
  margin-top: 10px;

  @media (max-width: 600px) {
    margin: auto;
    margin-top: 10px;
    width: 150px !important;
  }
}
