@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 1440px;
  font-family: DM SANS, sans-serif;
}

.header {
  display: flex;
  margin-top: 25px;
  margin-left: 50px;
}

.tagListNavigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tagListNavigation li {
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  font-weight: 500;
  font-size: 12px;
  padding: 3px 7px 3px 7px;
  color: #901c1c;
  cursor: pointer;
  margin: 2px;
  list-style: none;
}
.tagListNavigation li:hover {
  background-color: #901c1c;
  color: #fff;
}

.photographer-header {
  margin-top: 25px;
  margin-left: 50px;
}

#background {
  background-color: #db8876;
  border-radius: 5px;
  width: 400px;
  padding: 15px 25px;
  display: none;
  position: fixed;
  z-index: 10;
  position: relative;
  top: -780px;
  left: 300px;
}

#form-content {
  display: flex;
  flex-direction: column;
}
#form-content input {
  border: none;
  width: 400px;
  height: 35px;
  border-radius: 5px;
}

#close-btn {
  background: none;
  border: none;
}
#close-btn span {
  cursor: pointer;
  color: #fff;
  font-size: 36px;
  position: relative;
  top: -55px;
  left: 370px;
}

.contact-title {
  margin-bottom: -30px;
  margin-top: -10px;
}
.contact-title span {
  font-size: 36px;
  font-weight: 400;
}

#ph-name-contact {
  font-size: 36px;
  font-weight: 400;
}

.form-data {
  display: flex;
  flex-direction: column;
}

.form-submit {
  height: 40px;
  width: 100px !important;
  background-color: #901c1c;
  color: #fff;
  cursor: pointer;
  margin-top: 5px;
}

#photographersGallery {
  display: flex;
  margin: 25px 0 0 0;
  flex-wrap: wrap;
  align-content: space-between;
}
#photographersGallery.cardPhotographer {
  color: #901c1c;
  font-size: 36px;
  font-weight: 400;
  top: 10px;
}

.passContent {
  position: fixed;
  color: #000;
  background-color: #db8876;
  border-radius: 5px;
  padding: 5px;
  font-weight: 700;
  font-size: 18px;
  top: 30px;
  left: 36%;
  cursor: pointer;
  display: none;
  text-decoration: none;
}

.main {
  position: relative;
}
.main__title {
  position: absolute;
  right: 250px;
  top: -105px;
  width: 306px;
  color: #901c1c;
  font-weight: 400;
  font-size: 36px;
}

.bannerPhotographer {
  position: relative;
  display: flex;
  margin-left: 50px;
  margin-top: 25px;
  width: 1400px;
  background-color: #fafafa;
  justify-content: space-between;
  align-items: center;
}
.bannerPhotographer .imgPhotographerProfile {
  width: 200px;
  height: 200px;
  margin-right: 50px;
  border-radius: 100px;
  bottom: 30px;
  right: 50px;
  object-fit: cover;
}
.bannerPhotographer .infoPhotographer {
  margin-left: 40px;
}
.bannerPhotographer .infoPhotographer h1 {
  color: #901c1c;
  font-size: 40px;
  font-weight: 400;
}
.bannerPhotographer .infoPhotographer .localisationPhotographerProfile {
  color: #901c1c;
  font-size: 20px;
}
.bannerPhotographer .tagsListProfile {
  list-style-type: none;
  display: flex;
  margin-left: -42px;
}
.bannerPhotographer .tagsListProfile li {
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  padding: 3px 7px 3px 7px;
  color: #901c1c;
  font-weight: 500;
  font-size: 12px;
  margin: 5px;
}

.contactMe {
  position: absolute;
  cursor: pointer;
  background-color: #901c1c;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  height: 40px;
  width: 170px;
  font-size: 18px;
  top: 35px;
  left: 450px;
}

.listArticle {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
  margin-left: -80px;
  margin-right: 80px;
}
.listArticle a {
  text-decoration: none;
}

.cardPhotographer {
  text-align: center;
}

.imgPhotographer {
  width: 200px;
  height: 200px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 100px;
  object-fit: cover;
}

.namePhotographer {
  color: #d3573c;
  font-size: 36px;
  font-weight: 400;
  margin: unset;
}

.localisationPhotographer {
  color: #901c1c;
  margin: unset;
  font-weight: 400;
  font-size: 15px;
}

.citationPhotographer {
  font-weight: 400;
  font-size: 13px;
  margin: unset;
  margin-top: 3px;
}

.pricePhotographer {
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  margin: unset;
  margin-top: 3px;
}

.tagsList {
  display: flex;
  list-style: none;
  padding-inline-start: 0;
}
.tagsList li {
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  padding: 3px 7px 3px 7px;
  color: #901c1c;
  font-weight: 500;
  font-size: 12px;
  margin: 5px;
}

/*# sourceMappingURL=style.css.map */
