.listArticle {
  text-align: center;
  padding-bottom: 30px;
  min-width: 300px;

  a {
    text-decoration: none;
  }
}

.imgPhotographer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.namePhotographer {
  color: #d3573c;
  font-size: 32px;
  font-weight: 400;
  margin-top: 10px;
}

.localisationPhotographer {
  color: #901c1c;
  margin: unset;
  font-weight: 400;
  font-size: 15px;
}

.citationPhotographer {
  font-weight: 400;
  font-size: 13px;
  margin: unset;
  margin-top: 1px;
}

.pricePhotographer {
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  margin: unset;
  margin-top: 1px;
}

.tagsList {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 5px 0;

  & li {
    border: 0.5px solid #c4c4c4;
    border-radius: 11px;
    color: #901c1c;
    font-weight: 500;
    font-size: 12px;
    margin: 5px;
    &:hover {
      background-color: #901c1c;
      color: #fff;
    }
  }
}
