.listArticle {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
  margin-left: -80px;
  margin-right: 80px;
  a {
    text-decoration: none;
  }
}

.cardPhotographer {
  text-align: center;
}

.imgPhotographer {
  width: 200px;
  height: 200px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 100px;
  object-fit: cover;
}

.namePhotographer {
  color: #d3573c;
  font-size: 36px;
  font-weight: 400;
  margin: unset;
}

.localisationPhotographer {
  color: #901c1c;
  margin: unset;
  font-weight: 400;
  font-size: 15px;
}

.citationPhotographer {
  font-weight: 400;
  font-size: 13px;
  margin: unset;
  margin-top: 3px;
}

.pricePhotographer {
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  margin: unset;
  margin-top: 3px;
}

.tagsList {
  display: flex;
  list-style: none;
  padding-inline-start: 0;
  & li {
    border: 0.5px solid #c4c4c4;
    border-radius: 11px;
    padding: 3px 7px 3px 7px;
    color: #901c1c;
    font-weight: 500;
    font-size: 12px;
    margin: 5px;
  }
}
