.listArticle {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
}

.imgPhotographer {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.namePhotographer {
  color: #901c1c;
  font-size: 30px;
}

.localisationPhotographer {
  color: #901c1c;
  margin-bottom: 1px;
}

.pricePhotographer {
  color: gray;
  margin: 10px;
}

.tagsList {
  display: flex;
  list-style: none;
  justify-content: space-around;
  & li {
    border: 1px solid gray;
    border-radius: 100px;
    padding: 3px;
    color: #901c1c;
    margin: 2px;
  }
}
