.counter {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #db8876;
  border-radius: 5px;
  font-size: 24px;
  width: 376px;
  height: 89px;
  margin-left: auto;

  @media (max-width: 900px) {
    visibility: hidden;
  }

  & .total-likes {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    & .total-likes-number {
      padding-right: 0.5rem;
    }
  }
}
