.lightbox {
  position: absolute;
  top: 0;
  margin-top: 50px;
  width: 100vw;
  max-width: 1200px;
  height: 100vh;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  align-items: center;

  & .lightbox-media {
    display: flex;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    justify-content: center;

    & .lightbox-close {
      position: absolute;
      border: none;
      font-size: 32px;
      background: none;
      cursor: pointer;
      color: #901c1c;
      right: 30px;
    }

    & .lightbox-arrow {
      position: absolute;
      color: #901c1c;
      font-size: 32px;
      cursor: pointer;
      top: 50%;
    }
  }

  & button {
    position: absolute;
    border: none;
    background: none;
  }
}

.lightbox-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  width: auto;
  height: auto;
  overflow: auto;
  z-index: 100;
  align-items: center;
}

.lightbox-previous {
  left: 15px;
}

.lightbox-next {
  right: 15px;
}

.media-work-slide {
  max-width: calc(100vw - 1000px);
  max-height: calc(100vh - 80px);
  border-radius: 5px;
}

.title-work-slide {
  color: #901c1c;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 5px;
}
