.lightbox {
  position: absolute;
  top: 0;
  width: 100vw;
  max-width: 1200px;
  height: 100vh;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);

  & .lightbox-media {
    display: flex;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    justify-content: center;
  }

  & button {
    position: absolute;
    border: none;
    background: none;
  }
}

.lightbox-background {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 100;
}

.lightbox-media {
  & .lightbox-close {
    position: absolute;
    border: none;
    font-size: 32px;
    background: none;
    cursor: pointer;
    color: #901c1c;
  }

  & .lightbox-close {
    position: absolute;
    right: 30px;
    top: -100px;
  }

  & .lightbox-arrow {
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    color: #901c1c;
    font-size: 32px;
    cursor: pointer;
  }
}

.lightbox-previous {
  left: 15px;
}

.lightbox-next {
  right: 15px;
}

.media-work-slide {
  height: 200px;
  width: 200px;
}
