@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 1440px;
  font-family: DM SANS, sans-serif;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
