.main-photographer {
  @media (max-width: 800px) {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.bannerPhotographer {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;

  @media (min-width: 900px) {
    position: relative;
    background-color: #fafafa;
  }

  @media (min-width: 1200px) {
    margin: 0 100px;
    padding: 63px 35px 48px 65px;
  }

  .imgPhotographerProfile {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;

    @media (min-width: 800px) {
      width: 200px;
      height: 200px;
    }
  }
}

.infoPhotographer {
  & h1 {
    color: #d3573c;
    font-size: 40px;
    font-weight: 400;

    @media (min-width: 800px) {
      font-size: 44px;
    }
  }

  & .citationPhotographerProfile {
    font-size: 15px;
    color: #525252;

    @media (min-width: 800px) {
      display: block;
      font-size: 16px;
      margin: 15px 0;
    }
  }

  & .localisationPhotographerProfile {
    color: #901c1c;
    display: block;
    font-size: 15px;

    @media (min-width: 800px) {
      font-size: 20px;
    }
  }
}

.tagsListProfile {
  display: flex;
  margin: 5px 0;

  & li {
    display: flex;
    border: 0.5px solid #c4c4c4;
    border-radius: 11px;
    margin: 3px 6px 3px 0;
    color: #901c1c;
    padding: 2px 7px;
    font-weight: 500;
    font-size: 12px;

    &:hover {
      cursor: pointer;
      background-color: #901c1c;
      color: #fff;
    }
  }
}

.contactMe {
  position: fixed;
  cursor: pointer;
  background-color: #901c1c;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  height: 35px;
  width: 170px;
  font-size: 16px;
  transform: translateX(-50%);
  right: 50%;
  left: 50%;
  bottom: 28px;

  &:hover {
    color: #fff;
  }

  @media (min-width: 900px) {
    position: absolute;
    left: 400px;
    top: 0;
    transform: translateX(0);
    height: 70px;
  }

  @media (min-width: 1200px) {
    left: 480px;
    top: 60px;
  }
}
