.bannerPhotographer {
  position: relative;
  display: flex;
  margin-left: 50px;
  margin-top: 25px;
  width: 1400px;
  background-color: #fafafa;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  .PicturePhotographer {
    margin-right: 40px;
  }

  & .imgPhotographerProfile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
  }
  & .infoPhotographer {
    margin-left: 40px;

    & h1 {
      color: #901c1c;
      font-size: 40px;
      font-weight: 400;
    }

    & .localisationPhotographerProfile {
      color: #901c1c;
      font-size: 20px;
    }
  }

  .tagsListProfile {
    list-style-type: none;
    display: flex;
    margin-left: -42px;

    & li {
      border: 0.5px solid #c4c4c4;
      border-radius: 11px;
      padding: 3px 7px 3px 7px;
      color: #901c1c;
      font-weight: 500;
      font-size: 12px;
      margin: 5px;
    }
  }
}

.contactMe {
  position: absolute;
  cursor: pointer;
  background-color: #901c1c;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  height: 40px;
  width: 170px;
  font-size: 18px;
  top: 45px;
  left: 450px;
}

.media-selection {
  display: flex;
  margin-left: 45px;
  margin-top: 30px;

  & span {
    margin-right: 10px;
    font-weight: bold;
  }

  & .media-filters {
    display: flex;
    flex-direction: column;

    button {
      background-color: #901c1c;
      color: #fff;
    }

    ul {
      list-style-type: none;
    }
  }
}
