.main {
    position: relative;
  
    & .imgPhotographerProfile {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      position: absolute;
      bottom: 30px;
      right: 50px;
      object-fit: cover;
    }
    & .infoPhotographer {
      background-color: #fafafa;
      height: 250px;
  
      & h1 {
        color: #901c1c;
        font-size: 40px;
        font-weight: 400;
      }
    }
    .tagsListProfile {
      list-style-type: none;
      display: flex;
  
      & li {
        border: 0.5px solid #c4c4c4;
        border-radius: 11px;
        padding: 3px 7px 3px 7px;
        color: #901c1c;
        font-weight: 500;
        font-size: 12px;
        margin: 5px;
      }
    }
  }