// #photographersGallery {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   width: 100%;

//   &.cardPhotographer {
//     color: #901c1c;
//     font-size: 36px;
//     font-weight: 400;
//     top: 10px;
//   }
// }

#photographersGallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.main {
  &__title {
    position: absolute;
    right: 20px;
    top: 50px;
    color: #901c1c;
    font-weight: 400;
    font-size: 32px;

    @media (max-width: 800px) {
      font-size: 16px;
    }
  }
}
